// Flyout Settings
$devs-love-it: "d-flyout";
$devsloveit-flyout-content-width: 200px !default;
$devsloveit-flyout-content-scale: 0.9 !default;
$devsloveit-flyout-transition-time: 0.25s !default;
$devsloveit-flyout-transition-type: ease-in !default;
$devsloveit-flyout-trigger-index: 1 !default;
$devsloveit-flyout-content-index: $devsloveit-flyout-trigger-index + 1 !default;